<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WarehouseDBConnection"
             connectionString="Server=DESKTOP-KHC46R2\SQLEXPRESS2;Database=WareHouseCTL;User Id=sa;Password=drb@1234;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>